body {
	background: #f6f6f6;
	color: #999;
}

.container {
	padding: 0;
	margin: 0;
}

.container .box {
	width: auto;
	margin: 0.3rem;
	border: none;
	border-radius: 0.04rem;
	background: #fff;
	padding: 0.2rem;
}

@media screen and (min-width: 960px) {
	.container .box {
		width: 1006px;
		margin: 0.3rem auto;
		border: none;
		border-radius: 0.04rem;
		background: #fff;
		padding: 0.2rem;
	}
}

.container .box .title {
	font-size: 0.32rem;
	color: #000;
	font-weight: 600;
	height: auto;
	line-height: 0.36rem;
	text-indent: 0.36rem;
	width: auto;
	word-wrap: break-word;
	word-spacing: normal;
	word-break: break-word;
}

.container .box .sub {
	font-size: 0.28rem;
	color: #6c6c6c;
	font-weight: 600;
	height: auto;
	line-height: 0.3rem;
	text-indent: 0.3rem;
	padding: 0.1rem;
}

.container .box .img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 0.04rem;
	padding: 0.1rem;
	margin: 0.3rem;
	width: auto;
	background: #000;
}

.container .box .img img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container .box .img .remark {
	background: #000000;
	color: red;
	font-weight: bold;
	font-family: "微软雅黑";
	height: 0.6rem;
	line-height: 0.6rem;
	margin-top: -0.6rem;
	z-index: 1;
	position: relative;
	width: auto;
}