<!DOCTYPE html>
<html>

	<head>
		<title>浏览器指纹检测-在线检测浏览器唯一指纹信息工具</title>
		<meta name="keywords" content="大火兔,大火兔软件,大火兔工作室,浏览器检测,浏览器指纹,浏览器指纹检测,在线检测浏览器,在线检测浏览器唯一指纹信息工具" />
		<meta name="description" content="大火兔,大火兔软件,大火兔工作室,浏览器指纹检测：在线检测浏览器唯一指纹信息工具。" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/app.css" />
		<style type="text/css"></style>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?1b957f1d338cf4515127b4b40e0088ba";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<div class="pg">
			<div class="hd">
				<div class="tbox" id="appform" v-cloak="">
					<template v-for="(item,index) in tableList">
						<table :key="index" class="tableBlue">
							<tr>
								<th colspan="2">{{item.title}}({{item.desc}})</th>
							</tr>
							<template v-for="key in item.data">
								<tr>
									<td>{{key.name}}</td>
									<td>{{key.value}}</td>
								</tr>
							</template>
						</table>
					</template>
				</div>
			</div>
			<div class="cd">
				<div class="box">
					<div class="title">工具介绍</div>
					<div class="desc">
						<p>在线检测浏览器唯一指纹信息工具</p>
					</div>
					<div class="title">更新日志</div>
					<div class="desc">
						<ul class="log">
							<li>2021-05-31 新增UserAgent指纹</li>
							<li>2021-06-01 新增系统电池指纹</li>
						</ul>
					</div>
					<div class="title">代码开源</div>
					<div class="desc">
						<table class="table">
							<tr>
								<th>源码</th>
								<th>产品原型</th>
							</tr>
							<tr>
								<td class="rd">不开源</td>
								<td class="rd">不开源</td>
							</tr>
						</table>
						<p>
							<span class="github">Github源码地址</span>
							<input class="input" type="text" value="https://github.com/dahuotu/dahuotu.browserCheck.Js.git" />
						</p>
					</div>
					<div class="title">付费定制</div>
					<div class="desc">
						<p>邮箱：
							<a title="发邮件给作者" class="mail" href="mailto:1979788761@qq.com?subject=来自大火兔网站的反馈&body=你好，我是大火兔软件的用户，我有一些问题需要反馈和请教。" target="_blank">1979788761@qq.com</a>
						</p>
						<p>微信：
							<a title="加作者私人微信" class="wx" href="../contact.html" target="_blank">点此咨询</a>
						</p>
					</div>
					<div class="title">作者推荐</div>
					<div class="desc">
						<div class="h5">有需要低价网站空间、服务器、域名的直接点击下方图片文字按照操作提示购买就行，通过我这里购买比直接购买要便宜很多。</div>
						<a href="https://www.west.cn?ReferenceID=628962" target=_blank><img src="https://www.west.cn/vcp/vcp_img/free6/B/100x100_B.jpg" border=0></a>
						<a href="https://www.aliyun.com/1111/new?userCode=ncr4co8d" target=_blank><img src="../images/415x100.jpg" border=0></a>
						<a href="https://www.west.cn?ReferenceID=628962" target=_blank><img src="https://www.west.cn/vcp/vcp_img/free6/C/100x100_C.jpg" border=0></a>
						<a href="https://curl.qcloud.com/jZ0NaRqt" target=_blank><img src="../images/173x100.jpg" border=0></a>
						<a href="https://curl.qcloud.com/kKtxzon1" target=_blank><img src="../images/173x100x2.jpg" border=0></a>
					</div>
				</div>
			</div>
			<div class="fd">
				<div class="box">
					<div class="li">
						<div class="co">
							版权归作者及本站所有，转载本站原创内容请注明来源，商业使用请先联系作者
						</div>
						<div id="sitetime" class="show"></div>
					</div>
					<div class="li">
						<div class="barlist">
							<a title="加作者私人微信" class="wx" href="../contact.html" target="_blank"></a>
							<a title="发邮件给作者" class="mail" href="mailto:1979788761@qq.com?subject=来自大火兔网站的反馈&body=你好，我是大火兔软件的用户，我有一些问题需要反馈和请教。" target="_blank"></a>
							<a title="访问作者github" class="github" href="https://github.com/dahuotu" target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/browser.js"></script>
	<!--<script type="text/javascript" src="../js/pintuer.tools.js" ></script>-->
	<script>
		//		window.pintuer.default.test.hello();
		//		console.log(window.pintuer.default.test.ok());

		var app = new Vue({
			el: '#appform',
			data: {
				tableList: [{
					title: 'User Agent',
					desc: '浏览器用户代理信息',
					data: [],
				}, {
					title: 'System Battery',
					desc: '系统电池信息',
					data: [],
				}],
			},
			methods: {
				init: function() {
					//加载UA信息
					app.loadUserAgent();
					//加载电池信息
					app.loadSystemBattery();
				},
				loadUserAgent: function() {
					dahuotuUa.init();
					app.tableList[0].data = [{
							name: '浏览器的userAgent信息',
							value: dahuotuUa.uaInfo,
						},
						{
							name: '浏览器名称',
							value: dahuotuUa.appName,
						}, {
							name: '浏览器的内部名称',
							value: dahuotuUa.appCode,
						}, {
							name: '浏览器版本号',
							value: dahuotuUa.appVersion,
						}, {
							name: '浏览器版本系统类型',
							value: dahuotuUa.appPlatform,
						}, {
							name: '浏览器的产品名称',
							value: dahuotuUa.appProductName,
						}, {
							name: '浏览器的语言',
							value: dahuotuUa.appLanguage,
						},
						{
							name: '是否为IE内核',
							value: dahuotuUa.isIE,
						}, {
							name: '是否为Opera内核',
							value: dahuotuUa.isOpera,
						}, {
							name: '是否为苹果、谷歌内核',
							value: dahuotuUa.isWebKit,
						}, {
							name: '是否为火狐内核',
							value: dahuotuUa.isFirefox,
						}, {
							name: '是否为移动终端',
							value: dahuotuUa.isMobile,
						}, {
							name: '是否为ios终端',
							value: dahuotuUa.isIos,
						}, {
							name: '是否为Android终端或UC浏览器',
							value: dahuotuUa.isAndroid,
						}, {
							name: '是否为iPhone或者QQHD浏览器',
							value: dahuotuUa.isIPhone,
						}, {
							name: '是否为iPad',
							value: dahuotuUa.isIPad,
						}, {
							name: '是否为Web应该程序，没有头部与底部',
							value: dahuotuUa.isWebApp,
						}, {
							name: '是否支持webVR技术',
							value: dahuotuUa.isWebVR,
						}
					];
				},
				loadSystemBattery: function() {
					navigator.getBattery().then(function(battery) {
						app.tableList[1].data = [{
							name: '是否在充电',
							value: battery.charging,
						}, {
							name: '当前电量百分比',
							value: battery.level * 100 + '%',
						}, {
							name: '还有多久充满',
							value: battery.charging == true && battery.chargingTime != 'Infinity' ? (battery.chargingTime / 60 / 60).toFixed(2) + 'H' : '-',
						}, {
							name: '还可以用多久',
							value: battery.charging == false && battery.dischargingTime != 'Infinity' ? (battery.dischargingTime / 60 / 60).toFixed(2) + 'H' : '-',
						}];
					});
				},
			}
		});
		window.onload = function() {
			app.init();
		};
	</script>

</html>